DB_HOST_DEV= 
DB_PORT_DEV= 
DB_NAME_DEV= 
DB_USER_DEV= 
DB_PASS_DEV= 
DB_SCHEMA_DEV= 
DB_THREADS_DEV= 
DB_TYPE_DEV= 


DB_HOST_PROD= 
DB_PORT_PROD= 
DB_NAME_PROD= 
DB_USER_PROD= 
DB_PASS_PROD= 
DB_SCHEMA_PROD= 
DB_THREADS_PROD= 
DB_TYPE_PROD= 

DBT_PROFILES_DIR=../